@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom toast styles */
.Vue-Toastification__toast--success {
    background-color: transparent !important;
    color: oklch(var(--a)) !important;
}

.Vue-Toastification__toast--error {
    background-color: transparent !important; /* Semi-transparent background */
    backdrop-filter: blur(1px) !important;
    color: oklch(var(--er)) !important;
}

.Vue-Toastification__toast {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    min-width: 0px !important;
    min-height: 0px !important;
    padding: 10px 5px !important;
}

.Vue-Toastification__close-button {
    color: #f7f7f7 !important;
}

.Vue-Toastification__toast-body {
    font-weight: bold !important;
}

@media (max-width: 768px) {
  .theme-and-date-select-div{
    display: none;
  }
  .theme-and-date-select-div-small-viewports{
    display: flex;
  }
}

@media(min-width: 768px){
  .theme-and-date-select-div{
    display: block;
  }
  .theme-and-date-select-div-small-viewports{
    display: none;
  }
}

@media (max-width: 860px) {
  .table-stats-view{
    display: none;
  }
  .card-stats-view{
    display: block;
  }
}

@media(min-width: 860px){
  .table-stats-view{
    display: block;
  }
  .card-stats-view{
    display: none;
  }
}

